body {
	background: #3f68ff;
	color: white;
}

.header .head {
	background: #7895FF;
}

.footer,
.breadcrumb,
.collapses .item .title,
.calendar-block,
.grid-search .search-min,
.select-filter,
.checked-list {
	background: #7895FF;
}





.nav .wrap > ul > li:hover > a,
.header,
.media .ui-tabs-panel,
.media .last-news li .item,
.right-menu ul li a,
.right-menu ul li span,
input[type='text'], input[type='email'], input[type='password'], textarea, select,
.header .search input,
.nav .wrap > ul > li > ul li a:hover {
	background: #3f68ff;
}



.media .ui-tabs li.ui-tabs-active a,
.nav,
.btn-default,
.table th,
.links-table .head {
	background: white;
}



a,
a:hover,
.header .logo,
.header .head .invalid-style,
.header .head .link a,
h2, h3, h4, h5,
.footer,
.footer .left .title,
.footer .left .desc a,
.footer .left .desc a b,
.footer .right .link a,
.nav .wrap > ul > li:hover > a,
.hash-tag span,
.collapses .item .title,
.media .ui-tabs-nav li a,
.media .last-news li .item .title a,
.right-menu ul li a,
.right-menu ul li span,
.table,
input[type='text'], input[type='email'], input[type='password'], textarea, select,
.header .search input,
.nav .wrap > ul > li > ul li a:hover
{
	color: white;
}


.btn-default,
.media .ui-tabs li.ui-tabs-active a,
.nav .wrap > ul > li a,
.table th,
.table th a,
.links-table .head,
.nav .wrap > ul > li > ul > li > a {
	color: #3f68ff;
}






.theme-settings-fonts a.active {
	background: white;
	color: #3f68ff;
}
.theme-settings {
	border-right: 1px solid #7AB0ED;
}
.theme-settings-fonts a.active:after {
	border-top: 4px solid white;
}
.footer .right .copyright {
	color: #CDCDCD;
}
.collapses > .item {
	border: 1px solid #222;
}
.media .ui-tabs-nav {
	border-bottom: 2px solid white;
}
.header .search button {
	background: url("../images/search-white.png") no-repeat center;
}

.table th,
.table td,
.right-menu ul,
input[type='text'], input[type='email'], input[type='password'], textarea, select,
.header .search input,
.links-table ol,
.collapses > .item {
	border: 1px solid white;
}

.media .foot a,
.media .last-news li .item .date,
ul.news_list p.date {
	color: #C5E2FF;
}
.nav .wrap > ul > li > ul > li:hover, 
.nav .wrap > ul > li > ul > li:hover + li  {
	border-top: 1px solid #C5E2FF;
}
.nav .wrap > ul > li > ul > li,
.media .foot {
	border-top: 1px solid #C5E2FF;
}

.nav .wrap > ul > li > ul {
	border: 1px solid #C5E2FF;
}

.header .head .invalid-style:before {
	background: url("../images/i4-white.png") no-repeat;
}

.icheckbox {
	background: url("../images/checked-white.png") no-repeat;
}

.checked-list .collapsed .title:after {
	border-top: 4px solid white;
}

.right-menu a:hover, .right-menu a.active, .iogv-menu a:hover, .iogv-menu a.active {
	background: white;
	color: #3f68ff;
}



.right-menu.authorities-menu ul {
	background: #fff;
}
.right-menu.authorities-menu a,
.right-menu.authorities-menu span {
	color: #3f68ff;
}
.right-menu.authorities-menu a:hover,
.right-menu.authorities-menu span:hover {
	background: #fff;
	color: #3f68ff;
}

.right-slide .slide {
	background: #fff;
	color: #3f68ff;
}
.right-slide .next,
.right-slide .slide .txt {
	color: #3f68ff;
}
.right-slide .next:after {
	display: none;
}

.page-date {
	background: none;
}
.page-date .line {
	color: #fff;
}

.fancybox-skin .head {
	background: #3f68ff;
}

.btn {
	background: #3f68ff;
	border: 1px solid #3f68ff;
	color: white;
}
.btn:hover {
	background: #6B94FF;
	border: 1px solid #6B94FF;
}
.fancybox-close {
	background: url("../images/close-white.png") !important;
}

.fancybox-skin {
	color: #3f68ff !important;
}


.fancybox-skin .feedback-type a {
	color: #3f68ff;
	border: 1px solid #3f68ff;
}
.fancybox-skin .feedback-type a.active {
	color: #fff;
	background: #3f68ff;
	border: 1px solid #3f68ff;
}
.form .hint, .form .note {
	color: #3f68ff;
}

.ckeditor-invalid,
.ckeditor-invalid p,
.ckeditor-invalid span {
	color: #fff !important;
}

.contact-info .desc .label {
	color: #fff;
}
.contact-info a {
	color: #fff;
}
.ckeditor-invalid table td {
	border: 1px solid #fff;
}
.ckeditor-invalid table[border] td,
.ckeditor-invalid table td,
.ckeditor-invalid table td a {
	color: #fff !important;
}
.ckeditor-invalid a {
	color: #fff !important;
}

.votes .last-vote .left {
	background: #fff;
}
.tabs a.active {
	border: 1px solid #fff;
	color: #3f68ff;
	background: #fff;
}
.tabs a {
	border: 1px solid #fff;
	color: #fff;
}
.votes .last-vote .left {
	color: #3f68ff;
}
.vote-result .label .name {
	color: #3f68ff;
}

.pager ul li.selected a {
	color: #3f68ff;
	background: #fff;
}
.pager ul li a {
	color: #fff;
}

.jobs-list {
	color: #fff;
}

.ckeditor table th {
	background: #fff;
	color: #3f68ff;
	border: 1px solid #fff;
	border-right: 1px solid #3f68ff;
}
.ckeditor table th a,
.ckeditor table th p,
.ckeditor table th span {
	color: #3f68ff !important;
}

form .row span.required,
.form .hint span.required,
.fancybox-skin .form span.required {
	color: #fff;
}
.form .hint, .form .note {
	color: #fff;
}